In [ ]:
# Importing the necessary libraries
import pybaseball as pyb
import numpy as np
import pandas as pd

In [ ]:
### Importing all drafts prior to 2012 when they changed to forty rounds.


sixtyfive = pyb.amateur_draft(1965, 1)
sixtysix = pyb.amateur_draft(1966, 1)
sixtyseven = pyb.amateur_draft(1967, 1)
sixtyeight = pyb.amateur_draft(1968, 1)
sixtynine = pyb.amateur_draft(1969, 1)
seventy = pyb.amateur_draft(1970, 1)
seventyone = pyb.amateur_draft(1971, 1)
seventytwo = pyb.amateur_draft(1972, 1)
seventythree = pyb.amateur_draft(1973, 1)
seventyfour = pyb.amateur_draft(1974, 1)
seventyfive = pyb.amateur_draft(1975, 1)
seventysix = pyb.amateur_draft(1976, 1)
seventyseven = pyb.amateur_draft(1977, 1)
seventyeight = pyb.amateur_draft(1978, 1)
seventynine = pyb.amateur_draft(1979, 1)
eighty = pyb.amateur_draft(1980, 1)
eightyone = pyb.amateur_draft(1981, 1)
eightytwo = pyb.amateur_draft(1982, 1)
eightythree = pyb.amateur_draft(1983, 1)
eightyfour = pyb.amateur_draft(1984, 1)
eightyfive = pyb.amateur_draft(1985, 1)
eightysix = pyb.amateur_draft(1986, 1)
eightyseven = pyb.amateur_draft(1987, 1)
eightyeight = pyb.amateur_draft(1988, 1)
eightynine = pyb.amateur_draft(1989, 1)
ninety = pyb.amateur_draft(1990, 1)
ninetyone = pyb.amateur_draft(1991, 1)
ninetytwo = pyb.amateur_draft(1992, 1)
ninetythree = pyb.amateur_draft(1993, 1)
ninetyfour = pyb.amateur_draft(1994, 1)
ninetyfive = pyb.amateur_draft(1995, 1)
ninetysix = pyb.amateur_draft(1996, 1)
ninetyseven = pyb.amateur_draft(1997, 1)
ninetyeight = pyb.amateur_draft(1998, 1)
ninetynine = pyb.amateur_draft(1999, 1)
twothousand = pyb.amateur_draft(2000, 1)
twothousandone = pyb.amateur_draft(2001, 1)
twothousandtwo = pyb.amateur_draft(2002, 1)
twothousandthree = pyb.amateur_draft(2003, 1)
twothousandfour = pyb.amateur_draft(2004, 1)
twothousandfive = pyb.amateur_draft(2005, 1)
twothousandsix = pyb.amateur_draft(2006, 1)
twothousandseven = pyb.amateur_draft(2007, 1)
twothousandeight = pyb.amateur_draft(2008, 1)
twothousandnine = pyb.amateur_draft(2009, 1)
twothousandten = pyb.amateur_draft(2010, 1)
twothousandeleven = pyb.amateur_draft(2011, 1)

In [ ]:
### Old code

for year in range(2012, ):
    draftResults = amateur_draft(year, 1)
    draftResults_df = pd.DataFrame(draftResults)
    draftResults_df["round_num"] = 1
    draftResults_df["year"] = year

    for round_num in range(2, 41):
        temp = amateur_draft(year, round_num)
        temp_df = pd.DataFrame(temp)
        temp_df['round_num'] = round_num
        temp_df['year'] = year
        draftResults_df = pd.concat([draftResults_df, temp_df])
        draftResults_df.to_csv(f'draftResults_{year}.csv', index=False)

In [ ]:
one = pd.read_csv('draftResults_1995.csv')
two = pd.read_csv('draftResults_1996.csv')
three = pd.read_csv('draftResults_1997.csv')
four = pd.read_csv('draftResults_1998.csv')
five = pd.read_csv('draftResults_1999.csv')
six = pd.read_csv('draftResults_2000.csv')
seven = pd.read_csv('draftResults_2001.csv')
eight = pd.read_csv('draftResults_2002.csv')
nine = pd.read_csv('draftResults_2003.csv')
ten = pd.read_csv('draftResults_2004.csv')
eleven = pd.read_csv('draftResults_2005.csv')
twelve = pd.read_csv('draftResults_2006.csv')
thirteen = pd.read_csv('draftResults_2007.csv')
fourteen = pd.read_csv('draftResults_2008.csv')
fifteen = pd.read_csv('draftResults_2009.csv')
sixteen = pd.read_csv('draftResults_2010.csv')
seventeen = pd.read_csv('draftResults_2011.csv')
eighteen = pd.read_csv('draftResults_2012.csv')
nineteen = pd.read_csv('draftResults_2013.csv')
twenty = pd.read_csv('draftResults_2014.csv')
twentyone = pd.read_csv('draftResults_2015.csv')
twentytwo = pd.read_csv('draftResults_2016.csv')
twentythree = pd.read_csv('draftResults_2017.csv')
twentyfour = pd.read_csv('draftResults_2018.csv')
twentyfive = pd.read_csv('draftResults_2019.csv')
twentysix = pd.read_csv('draftResults_2020.csv')
twentyseven = pd.read_csv('draftResults_2021.csv')
twentyeight = pd.read_csv('draftResults_2022.csv')
twentynine = pd.read_csv('draftResults_2023.csv')

In [ ]:
import pandas as pd

dataframes = [one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, eighteen, nineteen, twenty, twentyone, twentytwo, twentythree, twentyfour, twentyfive, twentysix, twentyseven, twentyeight, twentynine]

stacked_df = pd.concat(dataframes)

stacked_df.reset_index(drop=True, inplace=True)

print(stacked_df)

In [ ]:
stacked_df.head()

In [ ]:
stacked_df.groupby("Drafted Out of")["WAR"].sum().sort_values(ascending=False)

In [ ]:
fullerton = stacked_df[(stacked_df["Drafted Out of"] == "University of California, Los Angeles (Los Angeles, CA)") & (stacked_df["WAR"] > 2)]

fullerton = fullerton.sort_values("WAR", ascending=False)

fullerton.head(20)


import matplotlib.pyplot as plt

plt.bar(fullerton["Name"], fullerton["WAR"])
plt.xticks(rotation=90, fontsize=8)
plt.show()

In [ ]:
stacked_df.groupby(["round_num", "year"])["WAR"].sum().sort_values(ascending=False)

test = stacked_df[(stacked_df["round_num"] == 4) & (stacked_df["year"] == 2000)]
test = test.sort_values("WAR", ascending=False)

plt.bar(test["Name"], test["WAR"])
plt.xticks(rotation=90, fontsize=6)

In [ ]:
pd.set_option('display.max_rows', 200)
stacked_df.groupby(["round_num", "year"])["WAR"].sum().sort_values(ascending=False).head(200)

In [ ]:
stacked_df.head()

In [ ]:
from pandas import pivot_table

stacked_df['Tm'] = stacked_df['Tm'].str.split(' via').str[0]

table = stacked_df.pivot_table("WAR", index = ["Tm"], columns = "round_num", aggfunc=np.sum)
print(table)

table.min()

### Next up - clean up the table to merge like teams. We will want to drop some columns too.